.dropdown,
.dropdown-top-opened {
  cursor: pointer;
  display: flex;
  width: 321px;
  padding: 9px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(29, 78, 216, 0.05);

  > h3 {
    color: #1d4ed8;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
  }
}
.opened-dropdrown {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 99;
  animation: drop 0.25s ease-in-out forwards;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 25px 0px rgba(29, 78, 216, 0.1);
}

@keyframes drop {
  0% {
    clip-path: circle(5% at 0 0);
  }

  25% {
    clip-path: circle(30% at 0 0);
  }
  50% {
    clip-path: circle(60% at 0 0);
  }
  75% {
    clip-path: circle(90% at 0 0);
  }
  100% {
    clip-path: circle(141.4% at 0 0);
  }
}
.dropdown-top-opened {
  border-radius: 16px 16px 0px 6px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(29, 78, 216, 0.05);
}
.icon-opened {
  rotate: 180deg;
}
.dropdown-option {
  display: flex;
  width: 321px;
  padding: 15px 12px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(29, 78, 216, 0.05);
  border-top: 1px solid #eee;
  cursor: pointer;
  > h4 {
    color: #0b0b0b;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
  }
  > div {
    display: flex;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #f8f8f8;
    color: #444;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.dropdown-container {
  position: relative;
  font-family: "Poppins";
}
.dropdown-option:first-child {
  border-top: none;
}

.selected-option {
  background: #edf2ff;
  > h4 {
    color: #1d4ed8;
  }
  > div {
    background: #edf2ff;
    color: #1d4ed8;
  }
}
.dropdown-option:hover {
  opacity: 0.8;
  background: #edf2ff;
  > h4 {
    color: #1d4ed8;
  }
}
.dropdown-option:active {
  scale: 0.95;
}
